<!doctype html>
<html lang="en">
    
    <nav class="navbar navbar-expand-lg bg-light" >
        <div class="container-fluid"style="background-color: #c27ba0;">
          <b style="font-size: large;"class="navbar-brand" href="#">Caroline Esther</b>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav">
              <li class="nav-item"style="background-color: #c27ba0;">
                <button ><a href="{% url 'wishlist:logout' %}">Logout</a></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=">
        <h3 style="color: black; text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;padding: 10px;">Wishlist</h3>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        </head>

<body>
    <table style="color: black ;margin-left:1%;" class="table bg-white"v>
        <tr class="bg-dark text-light">
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
        {% endfor %}
    </table>

<h6 style="margin-left:1%;"; padding: 10px;>Sesi terakhir login: {{ last_login }}</h5>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>


</html>